In [39]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [40]:
pd.__version__

'1.5.2'

In [41]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [42]:
df_iter = pd.read_csv('green_tripdata_2019-01.csv', iterator=False, chunksize=100000)

In [43]:
for idx, df in  enumerate(df_iter):
  t_start = time()

  df['lpep_dropoff_datetime'] = pd.to_datetime(df.lpep_pickup_datetime)
  df['lpep_dropoff_datetime'] = pd.to_datetime(df.lpep_dropoff_datetime)
        
  if idx == 0:
    df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')
  
  df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
  t_end = time()

  print(f'inserted another chunk_{idx} {len(df)} elements, took %.3f second' % (t_end - t_start))

inserted another chunk_0 100000 elements, took 7.058 second
inserted another chunk_1 100000 elements, took 6.698 second
inserted another chunk_2 100000 elements, took 6.667 second
inserted another chunk_3 100000 elements, took 6.693 second
inserted another chunk_4 100000 elements, took 6.796 second
inserted another chunk_5 100000 elements, took 6.803 second
inserted another chunk_6 30918 elements, took 2.276 second

In [44]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [45]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [46]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265